* {
    margin: 0;
    padding: 0;
    transition: all 0.2s;
  color: #555;
}

body {
    font-size: 100%;
    background: rgba(204, 235, 252, 0.3);
}
/*****header******/
header {
    color: #555;
    border-bottom: 1px solid rgba(76, 160, 205, 0.32);
    box-shadow: 0px 4px rgba(76,160,205);
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    background: white;
    padding: 5px;
}
h1, h4, h3, button {
    display: inline-block;
}
h4, button {
    cursor: pointer;
    font: 20px serif;
}
h1 {
    margin-right: 10px;
    font: 40px serif;
    color: #4ca0cd; 
}
h4 {
    float: left;
    margin: 20px 5%;
}
h4:hover {
  border-bottom: 2px solid #4ca0cd; 
}
button {
   float: right;
   margin: 10px 5%;
   border: 2px solid #4ca0cd; 
   background: #fff;
   padding: 2px 15px;
   border-radius: 50px;
   outline: none;
   cursor: pointer;
   color: #555;
}
button:hover {
    background: #4ca0cd; 
}
/*****section******/
section {
  width: 70%;
  background:  rgb(255, 255, 255);
  margin: 10px auto;
  border: 2px solid rgb(204, 235, 252);
  /*padding: 10px;*/
  border-radius: 5px;
}
li {
  border-bottom: 1px solid rgb(204,234,252);
  padding: 15px;
  position: relative;
  list-style: none;
  min-height: 50px;
}

li:hover {
  background: rgba(204, 235, 252, 0.3);
}
h3 {
  margin: 5px 10px;
}
p {
  margin-left: 25px;
}
span {
  color: #aaa;
  font-size: 15px;
}
span:before {
  content: "\00b7";
}